/*
Title:		EZINE Dark skins CSS File 
Author:		imediapixel@gmail.com
*/

/* ----------------------- GENERAL LAYOUT -----------------------*/

/* Heading */

h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	color:#6a6a6a;
}
/* links */
a,a:link,a:visited {
  color:#53B3C1; 
  text-decoration:none;
}
a:hover{
  color:#cacaca;
}

/* ----------------------- HEADER -----------------------*/
/* Header Section */
#headerbar {  
  background: url(dark/headerbar.jpg) bottom repeat-x;
}
/* Logo */
#logo {
  background: url(dark/bglogo2.png) top center no-repeat;
}
/* Sidebar Box */
.sidebox h3,
.leftbox h3 {
  color: #53B3C1;
}


/* ----------------------- MAIN CONTENT -----------------------*/
/* News list */
.post h3 a {
  color: #5a5a5a;
}
.post h3 a:hover {
  color: #53B3C1;
}
.post-alt h3 a {
  color: #5a5a5a;
}
.post-alt h3 a:hover {
  color: #53B3C1;
}
.leftbox a {
  color: #868686;
}
.leftbox a:hover {
  color: inherit;
}

/*------- Page Navigation -----*/
.navigation {
  border-top: 4px solid #f0f0f0;
  padding-top: 5px;  
  display: block;
  width: 100%;
  margin: 30px 0 10px 0;
}
.navigation a {
	padding: 6px; 
	margin: 2px;
	text-decoration: none;
	color: #9c9c9c;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 1.8em;
	font-style: italic;
}
.navigation a:hover {
	color: #53B3C1;
  border-bottom: 1px dotted #f0f0f0  
}

/* ----------------------- FOOTER -----------------------*/
#footerwrapper {
  background: #FCFCFC url(dark/bgfooter.jpg) top left repeat-x;
}
/* Footer Box */
.bottom {
  padding: 10px;
  background: #B7B7B7;
}
ul.footermenu {
  float: left;
}
ul.footermenu li {
  float: left;
  margin: 5px 10px;
  font-size: 1.2em;
}
ul.footermenu li a {
  color: #ffffff; 
  text-transform: capitalize;
  font-weight: bold;
}
ul.footermenu li a:hover {
  color: #126B81; 
}
/* Copyright */
.copyright {
  text-align: right;
  display: block;
}
.copyright a,
.copyright h3 {
  color: #ffffff; 
}
.copyright h3 span {
  color: #eaeaea;
}
.copyright h3 {
  margin: 0;
}

